.top-header {

    background-color: #1F2937;
    font-size: 18px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 68px;
}

.links {

display: flex;
gap: 12px;
color: #e5e7eb;
font-weight: normal;

}

.top {

display: flex;
background-color: #1F2937;
color: #f9faf8;
justify-content: space-evenly;
padding: 60px;


}

.this {

font-size: 48px;
font-weight: 900;
margin-left: 40px;
    
}

.desc {

font-size: 18px;
color: #e5e7eb;
margin-left: 40px;


}

img {

height: auto;
width: 450px;


}

.text {

display: flex;
flex-direction: column;
justify-content: center;

}

button {

    display: flex;
    width: 100px;
    justify-content: center;
    margin-left: 40px;
    margin-top: 12px;
    padding: 6px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

a {

text-decoration: none;
width: fit-content;

}

.middle {

display: flex;
justify-content: center;
padding: 25px;
flex-direction: column;
margin-bottom: 150px;

}

.description {

display: flex;
font-size: 36px;
color: #1F2937;
font-weight: 900;
justify-content: center;
}

.southpark {

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding-top: 50px;

}

.box1 {

display: flex;
flex-direction: column;
align-items: center;

}

.box2 {

display: flex;
flex-direction: column;
align-items: center;

}

.box3 {

display: flex;
flex-direction: column;
align-items: center;

}

.box4 {

display: flex;
flex-direction: column;
align-items: center;

}

body {

margin: 0px;

}

.quote-container {

display: flex;
background-color: #e5e7eb;
padding: 86px;
flex-direction: column;
justify-content: center;
align-items: center;

}

.quote-text {

font-size: 36px;
font-weight: 300;
color: #1F2937;

}

.tag {

font-weight: 900;
margin-left: 250px;

}

.bottom-content {

display: flex;
padding: 50px;
justify-content: center;

}

.action-container {

display: flex;
background-color: #3882f6;
padding: 50px;
border-radius: 8px;
justify-content: space-between;

}

.action-text, .action-desc {

color: white;

}

.action-text {

font-size: 24px;
font-weight: 900;

}

.abutton {

display: flex;
border: 2px solid white;
margin-left: 200px;

}

.footer {

display: flex;
background-color: #1F2937;
padding: 15px;
justify-content: center;

}

.footer-text {

color: #e5e7eb;
font-size: 18px;

}
